MANJIT SINGH

PRACTICAL NO 2BC

Data Frames and Basic Data Pre-processing
 Read data from CSV and JSON files into a data frame.

 Perform basic data pre-processing tasks such as handling missing values and
outliers.

 Manipulate and transform data using functions like filtering, sorting, and
grouping.

3.1 Creating a Data Frame

In [ ]:
import pandas as pd
dataframe = pd.DataFrame()

3.2 Describing the Data

In [ ]:
filepath = "tested.csv"
df = pd.read_csv(filepath)
print(df.head(2))
print("Dimensions: {}".format(df.shape))
print(df.describe())

   PassengerId  Survived  Pclass                              Name     Sex  \
0          892         0       3                  Kelly, Mr. James    male
1          893         1       3  Wilkes, Mrs. James (Ellen Needs)  female

    Age  SibSp  Parch  Ticket    Fare Cabin Embarked
0  34.5      0      0  330911  7.8292   NaN        Q
1  47.0      1      0  363272  7.0000   NaN        S
Dimensions: (418, 12)
       PassengerId    Survived      Pclass         Age       SibSp  \
count   418.000000  418.000000  418.000000  332.000000  418.000000
mean   1100.500000    0.363636    2.265550   30.272590    0.447368
std     120.810458    0.481622    0.841838   14.181209    0.896760
min     892.000000    0.000000    1.000000    0.170000    0.000000
25%     996.250000    0.000000    1.000000   21.000000    0.000000
50%    1100.500000    0.000000    3.000000   27.000000    0.000000
75%    1204.750000    1.000000    3.000000   39.000000    1.000000
max    1309.000000    1.000000    3.000000   76.000000    8.000000

            Parch        Fare
count  418.000000  417.000000
mean     0.392344   35.627188
std      0.981429   55.907576
min      0.000000    0.000000
25%      0.000000    7.895800
50%      0.000000   14.454200
75%      0.000000   31.500000
max      9.000000  512.329200

3.3 Navigating DataFrames

In [ ]:
print(df.iloc[0])
print(df.iloc[1:4])
print(df.iloc[:4])
df = df.set_index(df['Name'])
print(df.loc['Kelly, Mr. James'])

PassengerId                 892
Survived                      0
Pclass                        3
Name           Kelly, Mr. James
Sex                        male
Age                        34.5
SibSp                         0
Parch                         0
Ticket                   330911
Fare                     7.8292
Cabin                       NaN
Embarked                      Q
Name: 0, dtype: object
   PassengerId  Survived  Pclass                              Name     Sex  \
1          893         1       3  Wilkes, Mrs. James (Ellen Needs)  female
2          894         0       2         Myles, Mr. Thomas Francis    male
3          895         0       3                  Wirz, Mr. Albert    male

    Age  SibSp  Parch  Ticket    Fare Cabin Embarked
1  47.0      1      0  363272  7.0000   NaN        S
2  62.0      0      0  240276  9.6875   NaN        Q
3  27.0      0      0  315154  8.6625   NaN        S
   PassengerId  Survived  Pclass                              Name     Sex  \
0          892         0       3                  Kelly, Mr. James    male
1          893         1       3  Wilkes, Mrs. James (Ellen Needs)  female
2          894         0       2         Myles, Mr. Thomas Francis    male
3          895         0       3                  Wirz, Mr. Albert    male

    Age  SibSp  Parch  Ticket    Fare Cabin Embarked
0  34.5      0      0  330911  7.8292   NaN        Q
1  47.0      1      0  363272  7.0000   NaN        S
2  62.0      0      0  240276  9.6875   NaN        Q
3  27.0      0      0  315154  8.6625   NaN        S
PassengerId                 892
Survived                      0
Pclass                        3
Name           Kelly, Mr. James
Sex                        male
Age                        34.5
SibSp                         0
Parch                         0
Ticket                   330911
Fare                     7.8292
Cabin                       NaN
Embarked                      Q
Name: Kelly, Mr. James, dtype: object

3.4 Selecting Rows Based on Conditionals

In [ ]:
print(df[df['Sex'] == 'female'].head(2))
print(df[(df['Sex'] == 'female') & (df['Age'] >= 65)])

                                              PassengerId  Survived  Pclass  \
Name
Wilkes, Mrs. James (Ellen Needs)                      893         1       3
Hirvonen, Mrs. Alexander (Helga E Lindqvist)          896         1       3

                                                                                      Name  \
Name
Wilkes, Mrs. James (Ellen Needs)                          Wilkes, Mrs. James (Ellen Needs)
Hirvonen, Mrs. Alexander (Helga E Lindqvist)  Hirvonen, Mrs. Alexander (Helga E Lindqvist)

                                                 Sex   Age  SibSp  Parch  \
Name
Wilkes, Mrs. James (Ellen Needs)              female  47.0      1      0
Hirvonen, Mrs. Alexander (Helga E Lindqvist)  female  22.0      1      1

                                               Ticket     Fare Cabin Embarked
Name
Wilkes, Mrs. James (Ellen Needs)               363272   7.0000   NaN        S
Hirvonen, Mrs. Alexander (Helga E Lindqvist)  3101298  12.2875   NaN        S
                                                    PassengerId  Survived  \
Name
Cavendish, Mrs. Tyrell William (Julia Florence ...          988         1

                                                    Pclass  \
Name
Cavendish, Mrs. Tyrell William (Julia Florence ...       1

                                                                                                 Name  \
Name
Cavendish, Mrs. Tyrell William (Julia Florence ...  Cavendish, Mrs. Tyrell William (Julia Florence...

                                                       Sex   Age  SibSp  \
Name
Cavendish, Mrs. Tyrell William (Julia Florence ...  female  76.0      1

                                                    Parch Ticket   Fare Cabin  \
Name
Cavendish, Mrs. Tyrell William (Julia Florence ...      0  19877  78.85   C46

                                                   Embarked
Name
Cavendish, Mrs. Tyrell William (Julia Florence ...        S

3.5 Replacing Values

In [ ]:
print(df['Sex'].replace('female', 'Woman').head(2))
print(df['Sex'].replace(['female', 'male'], ['Woman', 'Man']).head(5))
print(df.replace(1, "One").head(2))

Name
Kelly, Mr. James                     male
Wilkes, Mrs. James (Ellen Needs)    Woman
Name: Sex, dtype: object
Name
Kelly, Mr. James                                  Man
Wilkes, Mrs. James (Ellen Needs)                Woman
Myles, Mr. Thomas Francis                         Man
Wirz, Mr. Albert                                  Man
Hirvonen, Mrs. Alexander (Helga E Lindqvist)    Woman
Name: Sex, dtype: object
                                  PassengerId Survived Pclass  \
Name
Kelly, Mr. James                          892        0      3
Wilkes, Mrs. James (Ellen Needs)          893      One      3

                                                              Name     Sex  \
Name
Kelly, Mr. James                                  Kelly, Mr. James    male
Wilkes, Mrs. James (Ellen Needs)  Wilkes, Mrs. James (Ellen Needs)  female

                                   Age SibSp Parch  Ticket    Fare Cabin  \
Name
Kelly, Mr. James                  34.5     0     0  330911  7.8292   NaN
Wilkes, Mrs. James (Ellen Needs)  47.0   One     0  363272  7.0000   NaN

                                 Embarked
Name
Kelly, Mr. James                        Q
Wilkes, Mrs. James (Ellen Needs)        S

3.6 Renaming Columns

In [ ]:
print(df.rename(columns={'PClass': 'Passenger Class'}).head(2))
print(df.rename(columns={'PClass': 'Passenger Class', 'Sex': 'Gender'}).head(2))

                                  PassengerId  Survived  Pclass  \
Name
Kelly, Mr. James                          892         0       3
Wilkes, Mrs. James (Ellen Needs)          893         1       3

                                                              Name     Sex  \
Name
Kelly, Mr. James                                  Kelly, Mr. James    male
Wilkes, Mrs. James (Ellen Needs)  Wilkes, Mrs. James (Ellen Needs)  female

                                   Age  SibSp  Parch  Ticket    Fare Cabin  \
Name
Kelly, Mr. James                  34.5      0      0  330911  7.8292   NaN
Wilkes, Mrs. James (Ellen Needs)  47.0      1      0  363272  7.0000   NaN

                                 Embarked
Name
Kelly, Mr. James                        Q
Wilkes, Mrs. James (Ellen Needs)        S
                                  PassengerId  Survived  Pclass  \
Name
Kelly, Mr. James                          892         0       3
Wilkes, Mrs. James (Ellen Needs)          893         1       3

                                                              Name  Gender  \
Name
Kelly, Mr. James                                  Kelly, Mr. James    male
Wilkes, Mrs. James (Ellen Needs)  Wilkes, Mrs. James (Ellen Needs)  female

                                   Age  SibSp  Parch  Ticket    Fare Cabin  \
Name
Kelly, Mr. James                  34.5      0      0  330911  7.8292   NaN
Wilkes, Mrs. James (Ellen Needs)  47.0      1      0  363272  7.0000   NaN

                                 Embarked
Name
Kelly, Mr. James                        Q
Wilkes, Mrs. James (Ellen Needs)        S

3.7 Finding the Min, Max, Sum, Average, and Count

In [ ]:
print('Maximum: {}'.format(df['Age'].max()))
print('Minimum: {}'.format(df['Age'].min()))
print('Mean: {}'.format(df['Age'].mean()))
print('Sum: {}'.format(df['Age'].sum()))
print('Count: {}'.format(df['Age'].count()))

print("Variance: {}".format(df.var(numeric_only=True)))
print("Standard Deviation: {}".format(df.std(numeric_only=True)))
print("Kurtosis: {}".format(df.kurt(numeric_only=True)))
print("Skewness: {}".format(df.skew(numeric_only=True)))

Maximum: 76.0
Minimum: 0.17
Mean: 30.272590361445783
Sum: 10050.5
Count: 332
Variance: PassengerId    14595.166667
Survived           0.231960
Pclass             0.708690
Age              201.106695
SibSp              0.804178
Parch              0.963203
Fare            3125.657074
dtype: float64
Standard Deviation: PassengerId    120.810458
Survived         0.481622
Pclass           0.841838
Age             14.181209
SibSp            0.896760
Parch            0.981429
Fare            55.907576
dtype: float64
Kurtosis: PassengerId    -1.200000
Survived       -1.684332
Pclass         -1.382666
Age             0.083783
SibSp          26.498712
Parch          31.412513
Fare           17.921595
dtype: float64
Skewness: PassengerId    0.000000
Survived       0.568991
Pclass        -0.534170
Age            0.457361
SibSp          4.168337
Parch          4.654462
Fare           3.687213
dtype: float64

3.8 Finding Unique Values

In [ ]:
print(df['Sex'].unique())
print(df['Sex'].value_counts())

['male' 'female']
Sex
male      266
female    152
Name: count, dtype: int64

3.9 Handling Missing Values

In [ ]:
print(df[df['Age'].isnull()].head(2))

                                      PassengerId  Survived  Pclass  \
Name
Ilieff, Mr. Ylio                              902         0       3
Flegenheim, Mrs. Alfred (Antoinette)          914         1       1

                                                                      Name  \
Name
Ilieff, Mr. Ylio                                          Ilieff, Mr. Ylio
Flegenheim, Mrs. Alfred (Antoinette)  Flegenheim, Mrs. Alfred (Antoinette)

                                         Sex  Age  SibSp  Parch    Ticket  \
Name
Ilieff, Mr. Ylio                        male  NaN      0      0    349220
Flegenheim, Mrs. Alfred (Antoinette)  female  NaN      0      0  PC 17598

                                         Fare Cabin Embarked
Name
Ilieff, Mr. Ylio                       7.8958   NaN        S
Flegenheim, Mrs. Alfred (Antoinette)  31.6833   NaN        S

3.10 Deleting a Column

In [ ]:
print(df.drop('Age', axis=1).head(2))

                                  PassengerId  Survived  Pclass  \
Name
Kelly, Mr. James                          892         0       3
Wilkes, Mrs. James (Ellen Needs)          893         1       3

                                                              Name     Sex  \
Name
Kelly, Mr. James                                  Kelly, Mr. James    male
Wilkes, Mrs. James (Ellen Needs)  Wilkes, Mrs. James (Ellen Needs)  female

                                  SibSp  Parch  Ticket    Fare Cabin Embarked
Name
Kelly, Mr. James                      0      0  330911  7.8292   NaN        Q
Wilkes, Mrs. James (Ellen Needs)      1      0  363272  7.0000   NaN        S

3.11 Deleting a Row

In [ ]:
print(df[df['Sex'] != 'male'].head(2))
print(df[df['Name'] != 'Allison, Miss Helen Loraine'].head(2))
print(df.iloc[1:].head(2))

                                              PassengerId  Survived  Pclass  \
Name
Wilkes, Mrs. James (Ellen Needs)                      893         1       3
Hirvonen, Mrs. Alexander (Helga E Lindqvist)          896         1       3

                                                                                      Name  \
Name
Wilkes, Mrs. James (Ellen Needs)                          Wilkes, Mrs. James (Ellen Needs)
Hirvonen, Mrs. Alexander (Helga E Lindqvist)  Hirvonen, Mrs. Alexander (Helga E Lindqvist)

                                                 Sex   Age  SibSp  Parch  \
Name
Wilkes, Mrs. James (Ellen Needs)              female  47.0      1      0
Hirvonen, Mrs. Alexander (Helga E Lindqvist)  female  22.0      1      1

                                               Ticket     Fare Cabin Embarked
Name
Wilkes, Mrs. James (Ellen Needs)               363272   7.0000   NaN        S
Hirvonen, Mrs. Alexander (Helga E Lindqvist)  3101298  12.2875   NaN        S
                                  PassengerId  Survived  Pclass  \
Name
Kelly, Mr. James                          892         0       3
Wilkes, Mrs. James (Ellen Needs)          893         1       3

                                                              Name     Sex  \
Name
Kelly, Mr. James                                  Kelly, Mr. James    male
Wilkes, Mrs. James (Ellen Needs)  Wilkes, Mrs. James (Ellen Needs)  female

                                   Age  SibSp  Parch  Ticket    Fare Cabin  \
Name
Kelly, Mr. James                  34.5      0      0  330911  7.8292   NaN
Wilkes, Mrs. James (Ellen Needs)  47.0      1      0  363272  7.0000   NaN

                                 Embarked
Name
Kelly, Mr. James                        Q
Wilkes, Mrs. James (Ellen Needs)        S
                                  PassengerId  Survived  Pclass  \
Name
Wilkes, Mrs. James (Ellen Needs)          893         1       3
Myles, Mr. Thomas Francis                 894         0       2

                                                              Name     Sex  \
Name
Wilkes, Mrs. James (Ellen Needs)  Wilkes, Mrs. James (Ellen Needs)  female
Myles, Mr. Thomas Francis                Myles, Mr. Thomas Francis    male

                                   Age  SibSp  Parch  Ticket    Fare Cabin  \
Name
Wilkes, Mrs. James (Ellen Needs)  47.0      1      0  363272  7.0000   NaN
Myles, Mr. Thomas Francis         62.0      0      0  240276  9.6875   NaN

                                 Embarked
Name
Wilkes, Mrs. James (Ellen Needs)        S
Myles, Mr. Thomas Francis               Q

3.13 Grouping Rows by Values

In [ ]:
print(df.groupby('Sex').mean(numeric_only=True))
print(df.groupby('Survived')['Name'].count())
print(df.groupby(['Sex', 'Survived'])['Age'].mean())

        PassengerId  Survived    Pclass        Age     SibSp     Parch  \
Sex
female  1096.789474       1.0  2.144737  30.272362  0.565789  0.598684
male    1102.620301       0.0  2.334586  30.272732  0.379699  0.274436

             Fare
Sex
female  49.747699
male    27.527877
Survived
0    266
1    152
Name: Name, dtype: int64
Sex     Survived
female  1           30.272362
male    0           30.272732
Name: Age, dtype: float64

3.15 Looping Over a Column

In [ ]:
for name in df['Name'][0:2]:
    print(name.upper())

print([name.upper() for name in df['Name'][0:2]])

KELLY, MR. JAMES
WILKES, MRS. JAMES (ELLEN NEEDS)
['KELLY, MR. JAMES', 'WILKES, MRS. JAMES (ELLEN NEEDS)']

3.16 Applying a Function Over All Elements in a Column

In [ ]:
def uppercase(x):
    if isinstance(x, str):
        return x.upper()
    return x

print(df['Name'].apply(uppercase)[0:2])

Name
Kelly, Mr. James                                    KELLY, MR. JAMES
Wilkes, Mrs. James (Ellen Needs)    WILKES, MRS. JAMES (ELLEN NEEDS)
Name: Name, dtype: object

3.17 Applying a Function to Groups

In [ ]:
print(df.groupby('Sex').apply(lambda x: x.count()))

        PassengerId  Survived  Pclass  Name  Sex  Age  SibSp  Parch  Ticket  \
Sex
female          152       152     152   152  152  127    152    152     152
male            266       266     266   266  266  205    266    266     266

        Fare  Cabin  Embarked
Sex
female   152     44       152
male     265     47       266

/tmp/ipython-input-1918551225.py:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  print(df.groupby('Sex').apply(lambda x: x.count()))